.colorful-button {
  position: relative;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  border-radius: 30px;
  background-size: 400%;
  text-transform: capitalize;

  &:hover {
    animation: animate 8s linear infinite;
    cursor: pointer;

    &::before {
      filter: blur(20px);
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 40px;
    background-size: 400%;
    opacity: -1;
    transition: 0.5s;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 100%;
    }
  }
}

#auto-task-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60%;
  max-width: 500px;
  max-height: 60%;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  padding-left: 5px;
  z-index: 999999999 !important;
  border: solid 2px #add8e6;
  border-radius: 10px;

  li {
    text-align: left;
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }

  .warning {
    color: blue;
  }

  .info {
    color: yellow;
  }
}

.auto-task-keylol {
  display: inline-block;
  text-transform: capitalize;
  margin-left: 10px;
  text-decoration: none !important;
  border: solid 1px;
  border-radius: 5px;
  padding: 0 2px;

  &[selected="selected"] {
    background-color: blue !important;
    color: #fff !important;
  }
}

.auto-task-form table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  width: 100%;

  thead {
    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #a9c6c9;
      font-weight: bold;
      background-color: #fff;
    }
  }

  tbody {
    tr {
      background-color: #d4e3e5;

      &:hover {
        background-color: #ffff66 !important;
      }

      th {
        background-color: #c3dde0;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
        text-transform: capitalize;
      }

      td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
      }
    }
  }
}

.swal2-modal {
  width: 70% !important;
  max-width: 1000px !important;
}

body.auto-task-options {
  padding-top: 10px;
  text-align: center;

  .auto-task-form {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;

    table {
      input.editOption {
        width: 80%;
      }

      #getTwitterUserId,
      #getYoutubeChannelId {
        margin-top: 5px;
      }

      button {
        @extend .colorful-button;
        z-index: 1;
      }

      input[type="text"] {
        outline-style: none;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 5px 10px;
        font-size: 14px;

        &:focus {
          border-color: #66afe9;
          outline: 0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075),
            0 0 8px rgba(102, 175, 233, .6);
        }
      }

      label {
        position: relative;
        width: 160px;
        height: 80px;
        cursor: pointer;
        transform: scale(0.25);
        margin: -25% 0;
        top: -30px;
        display: inline-block;

        input {
          position: relative;
          z-index: 1;
          appearance: none;

          &:checked~span {
            background: #05be05;
            box-shadow: 0 15px 25px #05be0566;

            i {
              left: 84px;

              &::before {
                background: #05be05;
                box-shadow: 35px 0 0 #05be05;
              }

              &::after {
                bottom: 12px;
                height: 15px;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                background: #05be05;
              }
            }
          }
        }

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fe0000;
          border-radius: 80px;
          transition: 0.5s;
          box-shadow: 0 15px 25px #fe000066;

          i {
            position: absolute;
            top: 4px;
            left: 4px;
            width: 72px;
            height: 72px;
            background: #fff;
            border-radius: 50%;

            &::before {
              content: '';
              position: absolute;
              top: 22px;
              left: 12px;
              width: 12px;
              height: 12px;
              border-radius: 50%;
              background: #fe0000;
              box-shadow: 35px 0 0 #fe0000;
              transition: 0.5s;
            }

            &::after {
              content: '';
              position: absolute;
              bottom: 15px;
              left: calc(50% - 15px);
              width: 30px;
              height: 6px;
              border-radius: 6px;
              background: #fe0000;
              transition: 0.5s;
            }
          }
        }
      }
    }

  }
}

body.auto-task-history {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;

  .container {
    a {
      color: #007bff;
      text-decoration: none;
      background-color: transparent;
    }

    .card {
      width: 80%;
      max-width: 800px;
      border-radius: 10px;
      background: #7676761a;
      border-top: 1px solid #ffffff80;
      backdrop-filter: blur(20px);
      box-shadow: 0 15px 25px #0000001a;
      margin: 20px auto;

      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      word-wrap: break-word;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;

      .title {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin: 5px 0;

        a:hover {
          text-decoration: none;
          background: #93e1ff;
          border-radius: 10px;
          padding: 3px;
        }
      }

      ul {
        margin-bottom: 25px;

        li {
          margin-bottom: 5px;
          line-height: 20px;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .delete-task {
        right: 10px;
        width: 38px;
        height: 35px;
        position: absolute;
        font-size: 24px;
        cursor: pointer;
        border-radius: 10px;

        &:hover {
          background: #fff;
        }
      }

      .time {
        right: 5px;
        position: absolute;
        bottom: 0;
        color: #e83e8c;
        font-family: 'SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace';
        font-size: 15px;
      }
    }
  }
}

#auto-task-buttons,
.show-button-div {
  position: fixed;
  top: 30px;
  right: 15px;
  width: 150px;
  z-index: 999999999 !important;
  transform: scale(0.9);

  /*
  &.FreeAnyWhere-buttons,
  &.GiveawaySu-buttons,
  &.GiveeClub-buttons,
  &.Givekey-buttons,
  &.Gleam-buttons,
  &.Indiedb-buttons,
  &.Keyhub-buttons,
  &.Keylol-buttons,
  &.Opquests-buttons,
  &.Prys-buttons,
  &.SweepWidget-buttons {
    width: 130px;
  }
  */

  p {
    line-height: 30px;
    height: 40px;
    text-align: center;
    margin: 5px !important;
  }

  a.auto-task-website-btn {
    @extend .colorful-button;
    width: 150px;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
  }
}

.show-button-div {
  width: 20px;
}

.auto-task-capitalize {
  text-transform: capitalize !important;
}

.swal2-file:focus,
.swal2-input:focus,
.swal2-textarea:focus {
  box-shadow: inset 0px 0px 4px 1px rgb(100 150 200 / 50%) !important;
}

.swal2-checkbox-custom {
  align-items: center;
  justify-content: center;
  background: #fff;
  color: inherit;
  margin: 1em auto;

  input {
    flex-shrink: 0;
    margin: 0 .4em;
  }
}
