.colorful-button {
  position: relative;
  padding: 5px 10px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  border-radius: 30px;
  background-size: 400%;
  text-transform: capitalize;

  &:hover {
    animation: animate 8s linear infinite;

    &::before {
      filter: blur(20px);
      opacity: 1;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    border-radius: 40px;
    background-size: 400%;
    opacity: -1;
    transition: 0.5s;
  }

  @keyframes animate {
    0% {
      background-position: 0%;
    }

    100% {
      background-position: 100%;
    }
  }
}

#auto-task-info {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 300px;
  max-width: 60%;
  max-height: 600px;
  overflow-y: auto;
  color: #000;
  background-color: #fff;
  padding-left: 5px;
  z-index: 999999999 !important;

  li {
    text-align: left;
  }

  .success {
    color: green;
  }

  .error {
    color: red;
  }

  .warning {
    color: blue;
  }

  .info {
    color: yellow;
  }
}

.auto-task-keylol {
  text-transform: capitalize;
  margin-left: 10px;
  text-decoration: none !important;
  border: solid 1px;
  border-radius: 5px;
  padding: 0 2px;

  &[selected="selected"] {
    background-color: blue;
    color: #fff;
  }
}

.auto-task-form table {
  font-family: verdana, arial, sans-serif;
  font-size: 11px;
  color: #333333;
  border-width: 1px;
  border-color: #999999;
  border-collapse: collapse;
  width: 100%;

  thead {
    td {
      border-width: 1px;
      padding: 8px;
      border-style: solid;
      border-color: #a9c6c9;
      font-weight: bold;
      background-color: #fff;
    }
  }

  tbody {
    tr {
      background-color: #d4e3e5;

      &:hover {
        background-color: #ffff66 !important;
      }

      th {
        background-color: #c3dde0;
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
        text-transform: capitalize;
      }

      td {
        border-width: 1px;
        padding: 8px;
        border-style: solid;
        border-color: #a9c6c9;
      }
    }
  }
}

.swal2-modal {
  width: 70% !important;
}

body.auto-task-options {
  padding-top: 10px;
  text-align: center;

  .auto-task-form {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 20px;

    input.editOption {
      width: 80%;
    }

    #getTwitterUserId,
    #getYoutubeChannelId {
      margin-top: 5px;
    }

    button {
      @extend .colorful-button;
      z-index: 1;
    }
  }
}
#auto-task-buttons,
.show-button-div {
  position: fixed;
  top: 30px;
  right: 15px;
  width: auto;
  z-index: 999999999 !important;

  /*
  &.FreeAnyWhere-buttons,
  &.GiveawaySu-buttons,
  &.GiveeClub-buttons,
  &.Givekey-buttons,
  &.Gleam-buttons,
  &.Indiedb-buttons,
  &.Keyhub-buttons,
  &.Keylol-buttons,
  &.OpiumPulses-buttons,
  &.Opquests-buttons,
  &.Prys-buttons,
  &.SweepWidget-buttons {
    width: 100px;
  }
  */

  p {
    line-height: 30px;
    height: 40px;
    text-align: center;
  }
  a.auto-task-website-btn {
    @extend .colorful-button;
    width: 150px;
    height: 40px;
    line-height: 30px;
    font-size: 20px;
  }
}
